body{
    background-image: url('../images/primaxgaso.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.formulario{
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgb(175, 175, 175);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85);
}